* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #d1cfcf;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.nave {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.mail-nave {
  padding: 10px;
  margin: 5px;
}

.menu{
    display: none;
}

.menu i{
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
.mail-nave ul {
  display: flex;
  align-items: center;
}

.mail-nave ul li {
  margin: 0 10px;
}

.mail-nave ul li a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 620px) {

    .menu{
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .mail-nave{
        display: none;
    }
  .mail-nave ul {
    display: block;
  }
  .mail-nave ul li {
    margin: 10px 0;
  }

  .mail-nave ul li:hover{
    background: #3a16da23;
    width: 100%;
    padding: 4px 30px;
    border-radius: 20px;
    transition: 100ms all ease-in-out;
    transform: translate(-10px);
  }

  .nave {
    flex-direction: column;
    background-color: #19037c80;
    padding: 0;
}
.logo {
      background-color: #19037c80;
      width: 100%;
      color: #fff;
    
  }
}
